<div class="content">
	<div class="medium-content">
		<div class="list-content">

			<div class="item">
				<label for="email">Project Details</label>
				<select name="industry" id="industry"></select>
				<i class="arrow"></i>
			</div>
			<div class="item">
				<label for="email">Status</label>
				<select  type="communication_language" id="communication_language"></select>
				<i class="arrow"></i>
			</div>
			<div class="item">
				<label for="email">Country</label>
				<select  type="communication_level" id="communication_level"></select>
				<i class="arrow"></i>
			</div>
			<div class="item">
				<label for="email">Client name</label>
				<select  type="communication_level" id="communication_level"></select>
				<i class="arrow"></i>
			</div>
			<div class="item-description">
				<label for="email">Project Details</label>
				<textarea name="industry" id="industry"></textarea>
			</div>
		</div>
	</div>
</div>