<div class="form-content">
  <div>
    <div [ngStyle]="{'display':isShowPopup === true ? 'block' : 'none'}" class="popup-message-content">
      <button type="button" class="close popupClose" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
      </button>
      Password successfuly changed.<br>
      Check Your E-mail to see new password.
    </div>
    <p class="title">Forgot Password</p>
    <p class="info-text">Please enter your E-mail to request a password reset</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <img src="/assets/icons/main/input-user-icon.svg" class="icon">
        <input type="email" formControlName="email" placeholder="Email"/>
      </div>
      <div *ngIf="errors && errors.email" class="is-invalid">{{errors.email[0]}}</div>
      <div class="send-btn">
        <button [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Send
        </button>
      </div>
      <span class="back-to-login">Back to <a routerLink="/">Login</a></span>
    </form>
  </div>
</div>