.content::-webkit-scrollbar{
  width: 8px;
}
.content::-webkit-scrollbar-track{
    box-shadow: inset 3px 2px 6px rgba(65, 64, 64, 0.37);
    border-radius: 8px;
    background-color: #F5F5F5;
}
.content::-webkit-scrollbar-thumb{
    border-radius: 5px;
    box-shadow: inset 3px 2px 6px rgba(100, 100, 100, 0.3);
    background-color: #11493E;
}
.content{
  height: 100%;
  overflow-y: auto;
}
.tabs{
  display: flex;
  margin: 27px 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    color: #688C8C;
    margin: 0 23px 0 23px;
    border-radius: 12px;
    opacity: 0.8;
  }
  .tab:hover{
    background: #599797;
    color: #272525;
    cursor: pointer;
  }
}