<div class="content">
  <div class="buttons">
    <button class="add-button" type="submit"><img src="assets/icons/content-icons/button-plus.svg" alt="">Add Technologies</button>
    <div class="filter-serach">
      <button class="button" type="submit"><img src="assets/icons/content-icons/filter.svg" alt=""></button>
      <button class="button" type="submit"><img src="assets/icons/content-icons/button-search.svg" alt=""></button>
    </div>
  </div>
  <div class="container-fluid p-0 m-0">
    <div class="column p-0 m-0">
      <div class="column column-content">
        <p>Framework</p>
        <div class="row row-content">
          <div class="col gradient_1">YII/YII2</div>
          <div class="col gradient_2">Symphony</div>
          <div class="col gradient_3">Laravel</div>
          <div class="col gradient_4">ReactJS</div>
          <div class="col gradient_5">Angular</div>
          <div class="col gradient_6">Bootstrap</div>
          <div class="col gradient_1">VueJS</div>
          <div class="col gradient_2">Codignaiter</div>
          <div class="col gradient_3">Django</div>
        </div>
      </div>
      <div class="row">
        <div class="col column column-content">
          <p>Language</p>
          <div class="row row-content">
            <div class="col gradient_1">JavaScript</div>
            <div class="col gradient_2">PHP</div>
            <div class="col gradient_3">Python</div>
          </div>
        </div>
        <div class="col column column-content">
          <p>Library</p>
          <div class="row row-content">
            <div class="col gradient_1">YII/YII2</div>
            <div class="col gradient_2">Symphony</div>
            <div class="col gradient_3">Laravel</div>
            <div class="col gradient_4">ReactJS</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col column column-content">
          <p>Integration</p>
          <div class="row row-content">
            <div class="col gradient_1">YII/YII2</div>
            <div class="col gradient_2">Symphony</div>
            <div class="col gradient_3">Laravel</div>
            <div class="col gradient_4">ReactJS</div>
          </div>
        </div>
        <div class="col column column-content">
          <p>Source Management</p>
          <div class="row row-content">
            <div class="col gradient_1">JavaScript</div>
            <div class="col gradient_2">PHP</div>
            <div class="col gradient_3">Python</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>