.content{
  width: 100%;
  height: 100%;
  .hourly-leave-info{
    display: flex;
    justify-content: space-between;
  }
  .day{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.25px;
    color: #1B3131;
  }
  .hourly-leave-time{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.25px;
    color: #347474;
  }
}