<div class="content">
    <div class="medium-content">
      <div class="list-content">
  
        <div class="skills"></div>
        <div class="skills"></div>
  
        <div class="item">
          <label for="email">Industry</label>
          <select name="industry" id="industry"></select>
          <i class="arrow"></i>
        </div>
        <div class="item">
          <label for="email">Communication Language</label>
          <select  type="communication_language" id="communication_language"></select>
          <i class="arrow"></i>
        </div>
        <div class="item">
          <label for="email">Communication Level</label>
          <select  type="communication_level" id="communication_level"></select>
          <i class="arrow"></i>
        </div>
      </div>
    </div>
  </div>